html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
}

header {
  display: block;
  background-color: #79756f;
  padding: .6em;
  border-color: #dbd6cf;
  margin: 0;
}

nav li {
  display: inline-block;
  background-color: #713837;
  padding: .5em .75em;
  margin: .3em;
}
